/* Basic layout */
body {
    font-family: sans-serif;
    line-height: 1.6;
    /* margin here so the content doesn't hit the edge of the browser */
    margin: 20px; 
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ddd; /* separate the nav */
}

.gallery {
    display: flex; /* Flexbox align boxes horizontally */
    gap: 15px;
    padding: 20px 0;
}

.box {
    background-color: lightblue;
    width: 120px; 
    text-align: center;
    color: #333;
}

.box-small { 
    border: 0px solid black; 
    margin: 0px; 
    padding: 0px; 
}

.box-med { 
    border: 5px solid blue; 
    margin: 5px; 
    padding: 5px; 
}

.box-large { 
    border: 10px solid darkblue; 
    margin: 10px; 
    padding: 10px; 
}


.pos-container {
    height: 180px;
    background: #eee;
    padding: 20px;
    margin-top: 20px;
}

.rel-box {
    /* RELATIVE: Elements stay in the flow but can act as a parent 'anchor' */
    position: relative; 
    width: 200px;
    height: 100px;
    background: orange;
    border: 1px solid black;
}

.abs-box {
    /* ABSOLUTE: Removed from flow.*/
    position: absolute; 
    bottom: -10px;
    right: -10px;
    background: red;
    color: white;
    padding: 5px;
    font-size: 12px;
}

.fixed-bubble {
    /* FIXED: box will follow me as I scroll */
    position: fixed;
    top: 150px;
    right: 20px;
    background: pink;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.main-footer {
    /* Using FIXED to ensure the footer stays at the bottom of the screen */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    z-index: 1000; /* Making sure it stays on top of other elements */
}

/* Adding space at the end of the page so the fixed footer doesn't  affect my content */
main {
    padding-bottom: 80px;
}